server {
    listen       80;
    server_name  {{ IP_address }};

    location = /favicon.ico {access_log off; log_not_found off;}
    location /static/ {
            root {{ project_base_dir }}/static/images;
    }

    location / {
            include proxy_params;
            proxy_pass http://unix:/run/{{ socket_file_name }}.sock;
    }
}