server {
    listen       80;
    server_name  {{ ALB_DNS_NAME }};

    location = /favicon.ico {access_log off; log_not_found off;}
    location /static/ {
            proxy_pass https://s3-ap-northeast-1.amazonaws.com/{{DJANGO_AWS_STORAGE_BUCKET_NAME}}/;
    }

    location / {
            include proxy_params;
            proxy_pass http://unix:/run/{{ socket_file_name }}.sock;
    }
}